body {
    margin: 0 auto; 
}

.main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
}

.header {
    background-color: rgb(0, 174, 255);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.name {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    align-items: center;
    color: rgb(0, 174, 255);
}

.name-spacing {
    padding: 10px;

}